maps/
tf2_misc_000.vpk
tf2_misc_001.vpk
tf2_misc_002.vpk
tf2_misc_003.vpk
tf2_misc_004.vpk
tf2_misc_005.vpk
tf2_misc_006.vpk
tf2_misc_007.vpk
tf2_misc_008.vpk
tf2_misc_009.vpk
tf2_misc_010.vpk
tf2_misc_011.vpk
tf2_misc_012.vpk
tf2_misc_013.vpk
tf2_misc_014.vpk
tf2_sound_misc.vpk.sound.cache
.git/

